@import "./fonts/stylesheet.css";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 22px;
  font-weight: 400;
  background: #fcfcfc;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  color: #363636;
  position: relative;
  padding-bottom: 30px;
}
h1:after {
  content: "";
  width: 30px;
  height: 5px;
  background: #0451e5;
  position: absolute;
  bottom: 0;
  left: 0;
}
h1 span {
  color: #0451e5;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  position: relative;
  padding-bottom: 15px;
}
h2:after {
  content: "";
  width: 30px;
  height: 5px;
  background: #0451e5;
  position: absolute;
  bottom: 0;
  left: 0;
}
h2 span {
  color: #0451e5;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}
h3 span {
  color: #4a4a4a;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p.big {
  font-size: 18px;
  line-height: 26px;
}
p.sm {
  font-size: 16px;
  line-height: 24px;
}

.button {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.button.primary {
  background-color: #0451e5;
  background-image: linear-gradient(140deg, #2072ff, #0451e5);
  border: 1px solid #dbdbdb;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  padding: 8px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button.primary span {
  font-size: 20px;
  line-height: 20px;
  margin-left: 5px;
}
.button.primary:hover {
  opacity: 1;
  background: #161fdc;
  background-image: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(0px) translate3d(0, 0px, 0);
            transform: translateY(0px) translate3d(0, 0px, 0);
  }
  50% {
    -webkit-transform: translateY(-7.5px) translate3d(0, -7.5px, 0);
            transform: translateY(-7.5px) translate3d(0, -7.5px, 0);
  }
  100% {
    -webkit-transform: translateY(0px) translate3d(0, 0px, 0);
            transform: translateY(0px) translate3d(0, 0px, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateY(0px) translate3d(0, 0px, 0);
            transform: translateY(0px) translate3d(0, 0px, 0);
  }
  50% {
    -webkit-transform: translateY(-7.5px) translate3d(0, -7.5px, 0);
            transform: translateY(-7.5px) translate3d(0, -7.5px, 0);
  }
  100% {
    -webkit-transform: translateY(0px) translate3d(0, 0px, 0);
            transform: translateY(0px) translate3d(0, 0px, 0);
  }
}
.support__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.support__text input {
  font-size: 15px;
  line-height: 15px;
  padding: 8px 30px 8px 11px;
  color: #363636;
  border: 1px solid #0451e5;
  -webkit-box-shadow: 0 0 0 0.125em rgba(4, 81, 229, 0.25);
          box-shadow: 0 0 0 0.125em rgba(4, 81, 229, 0.25);
  margin-right: -1px;
}

.note {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(4, 81, 229, 0.2);
  border-radius: 100px;
  padding: 4px 8px;
}
.note a {
  font-size: 12px;
  line-height: 14px;
  color: #0451e5;
}
.note a strong {
  font-weight: 700;
}

main {
  padding-top: 100px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #fcfcfcd9;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
  width: 32px;
  height: 32px;
}
.header__inner-logo span img {
  width: 100%;
}
.header__inner-logo strong {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #363636;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 120%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 8px 0;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
          box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 2px solid #dbdbdb;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner-dropdown a {
  color: #4a4a4a;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: transparent;
  padding: 6px 16px;
}
.nav__inner-dropdown a:hover {
  color: #0a0a0a;
  background-color: #f5f5f5;
}
.nav__inner li {
  margin-right: 16px;
}
.nav__inner li.drop {
  position: relative;
}
.nav__inner li.drop:hover .nav__inner-dropdown {
  max-height: 160px;
  opacity: 1;
}
.nav__inner li.drop > a {
  padding-right: 36px;
  position: relative;
}
.nav__inner li.drop > a::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 15px;
  width: 9px;
  height: 9px;
  border-top: 2.5px solid #0451e5;
  border-right: 2.5px solid #0451e5;
  background-color: transparent;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}
.nav__inner li > a {
  color: #4a4a4a;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
.nav__inner li > a.active {
  color: #0451e5;
}
.nav__inner li > a:hover {
  color: #0451e5;
  opacity: 1;
}
.nav__inner li > a span {
  color: #0451e5;
  background-color: rgba(4, 81, 229, 0.2);
  margin-left: 8px;
  font-size: 12px;
  line-height: 13px;
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav__inner li > a span:hover {
  opacity: 0.8;
}
.nav .burger {
  display: none;
}

.burger {
  display: none;
}

.footer__inner {
  padding: 24px 0 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer__inner::before {
  content: "";
  background: #e7e9ee;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner p {
  font-size: 14px;
}
.footer__inner a {
  font-size: 14px;
  color: #4a4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner span {
  width: 5px;
  display: block;
}
.footer__inner hr {
  margin: 0 5px;
  width: 1px;
  height: 18px;
  background: #4a4a4a;
}

.info__inner {
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__inner-text {
  width: calc(50% - 15px);
  max-width: 684px;
}
.info__inner-support {
  width: calc(50% - 15px);
  max-width: 684px;
  text-align: center;
}
.info__inner-support .support {
  margin-bottom: 5px;
}
.info__inner-support p {
  font-size: 14px;
  line-height: 18px;
}
.info h2 {
  font-weight: 600;
  margin-bottom: 24px;
}

.look__inner {
  padding: 40px 0;
}
.look__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -12px;
}
.lookItem {
  background-color: #0451e5;
  background-image: linear-gradient(140deg, #2072ff, #0451e5);
  padding: 56px 40px;
  text-align: center;
  width: calc(25% - 24px);
  margin: 12px;
}
.lookItem span {
  font-size: 80px;
  line-height: 80px;
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
}
.lookItem p {
  color: #fff;
  max-width: 223px;
  margin: 0 auto;
}
.look h2 {
  margin-bottom: 24px;
}

.help__inner {
  padding: 40px 0;
}
.help__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.helpItem {
  width: calc(33.3% - 15px);
  max-width: 456px;
  text-align: center;
}
.helpItem__image {
  width: 240px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 15px;
}
.helpItem__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.help h2 {
  margin-bottom: 64px;
}
.help h3 {
  margin-bottom: 16px;
  font-weight: 600;
}
.help p {
  max-width: 425px;
  margin: 0 auto;
}
.help p span {
  color: #0451e5;
  font-weight: 700;
}

.service__inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__inner-image {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service__inner-image img {
  width: 100%;
  max-width: 528px;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__inner-content {
  width: calc(50% - 15px);
}
.service__inner-content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12px;
}
.serviceItem {
  width: calc(50% - 24px);
  background: #0451e5;
  background-image: linear-gradient(140deg, #2072ff, #0451e5);
  -webkit-box-shadow: 0px 30px 40px 0px rgba(3, 24, 128, 0.2);
          box-shadow: 0px 30px 40px 0px rgba(3, 24, 128, 0.2);
  padding: 40px;
  margin: 12px;
  max-width: 320px;
}
.serviceItem__image {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.serviceItem__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.serviceItem h3 {
  color: #fff;
}
.serviceItem p {
  color: #fff;
}
.service h2 {
  margin-bottom: 24px;
}
.service h3 {
  margin-bottom: 12px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__inner-content {
  width: calc(50% - 12px);
  max-width: 636px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero__inner-image {
  width: calc(50% - 12px);
  max-width: 636px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__inner-image img {
  width: 100%;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.hero__inner .note {
  margin-bottom: 16px;
}
.hero__inner .support {
  margin-bottom: 6px;
}
.hero__inner h1 {
  margin-bottom: 26px;
}
.hero__inner p {
  margin-bottom: 24px;
}
.hero__inner p.sm {
  font-size: 14px;
  line-height: 16px;
}

.sponsors {
  padding: 120px 0;
}
.sponsors__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sponsors__inner-content {
  width: calc(50% - 16px);
  max-width: 636px;
}
.sponsors__inner-col {
  width: calc(50% - 16px);
  max-width: 636px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sponsors__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.sponsors__inner a {
  font-size: 14px;
  line-height: 16px;
  color: #191919;
  text-align: center;
}
.sponsors__inner a svg {
  width: 15px;
  height: 15px;
  fill: #00B67A;
}
.sponsors__inner h2::after {
  display: none;
}
.sponsorsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  max-width: 80px;
}
.sponsorsItem img {
  width: 100%;
}

@media (max-width: 1180px) {
  .auto__container {
    padding: 0 30px;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  body.active {
    overflow: hidden;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 9;
    background: #fcfcfc;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
            box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  }
  .nav.active {
    max-height: 500px;
    opacity: 1;
  }
  .nav__inner {
    padding: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .nav__inner-dropdown {
    position: static;
    max-height: unset;
    opacity: 1;
    overflow: visible;
    border-top: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav__inner-dropdown a {
    width: 100%;
  }
  .nav__inner-dropdown a:hover {
    background-color: transparent;
    color: #0451e5;
  }
  .nav__inner li {
    margin: 0;
    width: 100%;
  }
  .nav__inner li > a {
    padding: 8px 12px;
  }
  .nav__inner .button {
    margin: 6px 12px;
  }

  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    position: relative;
    width: 52px;
    height: 52px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .burger:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .burger::before {
    top: 36%;
    width: 16px;
    height: 1px;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-ransform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  .burger span {
    top: 50%;
    width: 16px;
    height: 1px;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-ransform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
  }
  .burger::after {
    bottom: 36%;
    width: 16px;
    height: 1px;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-ransform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  .burger.active::before {
    -webkit-transform: translate(-50%, 12px);
            transform: translate(-50%, 12px);
  }
  .burger.active span {
    opacity: 0;
  }
  .burger.active::after {
    -webkit-transform: translate(-50%, -12px);
            transform: translate(-50%, -12px);
  }

  .header__inner {
    position: relative;
    padding: 0;
  }
}
@media (max-width: 750px) {
  .auto__container {
    padding: 0 20px;
  }
}
@media (max-width: 390px) {
  .auto__container {
    padding: 0 15px;
  }
}
@media (max-width: 1450px) {
  h2 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 1380px) {
  .look__inner-main {
    margin: -10px;
  }
  .lookItem {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 48px 30px;
  }
  .lookItem span {
    font-size: 70px;
    line-height: 70px;
  }
}
@media (max-width: 1250px) {
  h2 {
    font-size: 33px;
    line-height: 40px;
  }

  p.sm {
    font-size: 15px;
    line-height: 22px;
  }

  .support__text input {
    padding: 7px 25px 7px 11px;
    font-size: 14px;
    line-height: 14px;
  }
  .support__text .button.primary {
    padding: 7px 18px;
    font-size: 14px;
    line-height: 14px;
  }

  .look__inner-main {
    margin: -10px;
  }
  .lookItem {
    margin: 10px;
    padding: 48px 30px;
    width: calc(25% - 10px);
  }
  .lookItem span {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 1180px) {
  h2 {
    font-size: 29px;
    line-height: 37px;
  }

  .info__inner {
    padding: 30px 0;
  }
  .info__inner-support {
    width: calc(50% - 10px);
  }
  .info__inner-support p {
    font-size: 13px;
    line-height: 18px;
  }
  .info__inner-text {
    width: calc(50% - 10px);
  }
  .info h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .footer__inner {
    padding: 20px 0 40px;
  }
  .footer__inner::before {
    height: 4px;
  }
  .footer__inner p {
    font-size: 13px;
    line-height: 18px;
  }
  .footer__inner a {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (max-width: 930px) {
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__inner-support {
    width: 100%;
  }
  .info__inner-text {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 750px) {
  .footer__inner {
    padding: 15px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__inner-links {
    margin: 0 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__inner-links:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer__inner::before {
    height: 3px;
  }
}
@media (max-width: 650px) {
  .footer__inner p {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__inner a {
    font-size: 12px;
    line-height: 16px;
  }
}