@import "./fonts/stylesheet.css";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 22px;
  font-weight: 400;
  background: #fcfcfc;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-size: 48px;
  line-height: 58px;
}
h1 span {
  color: #4a4a4a;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  position: relative;
  padding-bottom: 15px;
}
h2:after {
  content: "";
  width: 30px;
  height: 5px;
  background: #0451e5;
  position: absolute;
  bottom: 0;
  left: 0;
}
h2 span {
  color: #0451e5;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}
h3 span {
  color: #4a4a4a;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p.big {
  font-size: 18px;
  line-height: 26px;
}
p.sm {
  font-size: 16px;
  line-height: 24px;
}

.button.primary {
  background: #0451e5;
  background-image: linear-gradient(140deg, #2072ff, #0451e5);
  border: 1px solid #dbdbdb;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  padding: 8px 20px;
}
.button.primary span {
  font-size: 20px;
  line-height: 20px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(0px) translate3d(0, 0px, 0);
            transform: translateY(0px) translate3d(0, 0px, 0);
  }
  50% {
    -webkit-transform: translateY(-7.5px) translate3d(0, -7.5px, 0);
            transform: translateY(-7.5px) translate3d(0, -7.5px, 0);
  }
  100% {
    -webkit-transform: translateY(0px) translate3d(0, 0px, 0);
            transform: translateY(0px) translate3d(0, 0px, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateY(0px) translate3d(0, 0px, 0);
            transform: translateY(0px) translate3d(0, 0px, 0);
  }
  50% {
    -webkit-transform: translateY(-7.5px) translate3d(0, -7.5px, 0);
            transform: translateY(-7.5px) translate3d(0, -7.5px, 0);
  }
  100% {
    -webkit-transform: translateY(0px) translate3d(0, 0px, 0);
            transform: translateY(0px) translate3d(0, 0px, 0);
  }
}
.support__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.support__text input {
  font-size: 15px;
  line-height: 15px;
  padding: 8px 30px 8px 11px;
  color: #363636;
  border: 1px solid #0451e5;
  -webkit-box-shadow: 0 0 0 0.125em rgba(4, 81, 229, 0.25);
          box-shadow: 0 0 0 0.125em rgba(4, 81, 229, 0.25);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
}
.header__inner-logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3px;
  width: 32px;
  height: 32px;
}
.header__inner-logo span img {
  width: 100%;
}
.header__inner-logo strong {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #363636;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 120%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 8px 0;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
          box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 2px solid #dbdbdb;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner-dropdown a {
  color: #4a4a4a;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: transparent;
  padding: 6px 16px;
}
.nav__inner-dropdown a:hover {
  color: #0a0a0a;
  background-color: #f5f5f5;
}
.nav__inner li {
  margin-right: 16px;
}
.nav__inner li.drop {
  position: relative;
}
.nav__inner li.drop:hover .nav__inner-dropdown {
  max-height: 160px;
  opacity: 1;
}
.nav__inner li.drop > a {
  padding-right: 36px;
  position: relative;
}
.nav__inner li.drop > a::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 15px;
  width: 9px;
  height: 9px;
  border-top: 2.5px solid #0451e5;
  border-right: 2.5px solid #0451e5;
  background-color: transparent;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}
.nav__inner li > a {
  color: #4a4a4a;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
.nav__inner li > a.active {
  color: #0451e5;
}
.nav__inner li > a:hover {
  color: #0451e5;
}
.nav__inner li > a span {
  color: #0451e5;
  background-color: rgba(4, 81, 229, 0.2);
  margin-left: 8px;
  font-size: 12px;
  line-height: 13px;
  padding: 6px 8px;
  border-radius: 4px;
}
.nav .burger {
  display: none;
}

.footer__inner {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer__inner::before {
  content: "";
  background: #e7e9ee;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner p {
  font-size: 14px;
}
.footer__inner a {
  font-size: 14px;
  color: #4a4a4a;
}
.footer__inner span {
  width: 5px;
  display: block;
}

.info__inner {
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__inner-text {
  width: calc(50% - 15px);
  max-width: 684px;
}
.info__inner-support {
  width: calc(50% - 15px);
  max-width: 684px;
  text-align: center;
}
.info__inner-support .support {
  margin-bottom: 5px;
}
.info__inner-support p {
  font-size: 14px;
  line-height: 18px;
}
.info h2 {
  font-weight: 600;
  margin-bottom: 24px;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}