.hero {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-content {
            width: calc(50% - 12px);
            max-width: 636px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &-image {
            width: calc(50% - 12px);
            max-width: 636px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                animation-name: pulse;
                animation-duration: 4s;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
            }
        }
        .note {
            margin-bottom: 16px;
        }
        .support {
            margin-bottom: 6px;
        }
        h1 {
            margin-bottom: 26px;
        }
        p {
            margin-bottom: 24px;
            &.sm {
                font-size: 14px;
                line-height: 16px;
                margin: 0;
            }
        }
    }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
    .hero {

    }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
    .hero {

    }
}
// 1180px
@mixin hero-xlg-xxlg {
    .hero {
        &__inner {
            h1 {
                padding-bottom: 20px;
                margin-bottom: 20px;
                &::after {
                    height: 3px;
                    width: 22px;
                }
            }
            p {
                margin-bottom: 16px;
                &.sm {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }
}
// 1024px
@mixin hero-lg-xlg {
    .hero {

    }
}
// 930px
@mixin hero-md-lg {
    .hero {
        &__inner {
            flex-direction: column;
            &-content {
                
            }
        }
    }
}
// 750px
@mixin hero-sm-md {
    .hero {
 
    }
}
// 650px
@mixin hero-sm-md-extra {
    .hero {

    }
}
// 540px
@mixin hero-xsm-sm {
    .hero {

    }
}
// 440px
@mixin hero-xxsm-xsm {
    .hero {

    }
}
.sponsors {
    padding: 120px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-content {
            width: calc(50% - 16px);
            max-width: 636px;
        }
        &-col{
            width: calc(50% - 16px);
            max-width: 636px;

            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }
        a {
            font-size: 14px;
            line-height: 16px;
            color: #191919;
            text-align: center;
            svg {
                width: 15px;
                height: 15px;
                fill: #00B67A;
            }
        }
        h2 {
            &::after {
                display: none;
            }
        }
    }
    &Item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        max-width: 80px;
        img {
            width: 100%;
        }
    }
}