.footer {
  &__inner {
    padding: 24px 0 0 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before {
      content: "";
      background: $gray;
      width: 100%;
      height: 5px;
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-links {
      display: flex;
      align-items: center;
    }
    p {
      font-size: 14px;
    }
    a {
      font-size: 14px;
      color: $main;
      display: flex;
      align-items: center;
    }
    span {
      width: 5px;
      display: block;
    }
    hr {
      margin: 0 5px;
      width: 1px;
      height: 18px;
      background: $main;
    }
  }
}
// 1024px
@mixin footer-lg-xlg {
  .footer {
    &__inner {
      padding: 20px 0 40px;
      &::before {
        height: 4px;
      }
      p {
        font-size: 13px;
        line-height: 18px;
      }
      a {
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
}
// 750px
@mixin footer-sm-md {
  .footer {
    &__inner {
      padding: 15px 0 30px;
      flex-direction: column;
      &-links {
        margin: 0 10px;
        flex-wrap: wrap;
        justify-content: center;
        &:nth-child(2) {
          order: -1;
        }
      }
      &::before {
        height: 3px;
      }
    }
  }
}
// 650px
@mixin footer-sm-md-extra {
  .footer {
    &__inner {
      p {
        font-size: 12px;
        line-height: 16px;
      }
      a {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
// 540px
@mixin footer-xsm-sm {
  .footer {
  }
}
// 390px
@mixin footer-xxxsm-xxsm {
  .footer {
  }
}
.info {
  &__inner {
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-text {
      width: calc(50% - 15px);
      max-width: 684px;
    }
    &-support {
      width: calc(50% - 15px);
      max-width: 684px;
      text-align: center;
      .support {
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  h2 {
    font-weight: 600;
    margin-bottom: 24px;
  }
}
// 1180px
@mixin info-xlg-xxlg {
  .info {
    &__inner {
      padding: 30px 0;
      &-support {
        width: calc(50% - 10px);
        p {
          font-size: 13px;
          line-height: 18px;
        }
      }
      &-text {
        width: calc(50% - 10px);
      }
    }

    h2 {
      margin-bottom: 20px;
    }
  }
}
// 1024px
@mixin info-lg-xlg {
  // .info{
  //     &__inner{
  //         flex-direction: column;
  //         &-support{
  //             width: 100%;
  //         }
  //         &-text{
  //             width: 100%;
  //         }
  //     }
  // }
}
// 930px
@mixin info-md-lg {
  .info {
    &__inner {
      flex-direction: column;
      &-support {
        width: 100%;
      }
      &-text {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
.look {
  &__inner {
    padding: 40px 0;
    &-main {
      display: flex;
      justify-content: space-between;
      margin: -12px;
    }
  }
  &Item {
    background-color: $primary;
    background-image: linear-gradient(140deg, #2072ff, #0451e5);
    padding: 56px 40px;
    text-align: center;
    width: calc(25% - 24px);
    margin: 12px;
    span {
      font-size: 80px;
      line-height: 80px;
      display: block;
      margin-bottom: 15px;
      color: $white;
      font-weight: 700;
    }
    p {
      color: $white;
      max-width: 223px;
      margin: 0 auto;
    }
  }
  h2 {
    margin-bottom: 24px;
  }
}
// 1380px
@mixin look-xxxlg-xxxxlg {
  .look {
      &__inner{
          &-main{
              margin: -10px;
          }
      }
    &Item {
        width: calc(25% - 20px);

        margin: 10px;
        padding: 48px 30px;
      span {
        font-size: 70px;
        line-height: 70px;
      }
    }
  }
}
// 1250px
@mixin look-xlg-xxlg-extra{
    .look {
        &__inner{
            &-main{
                margin: -10px;
            }
        }
      &Item {
          margin: 10px;
          padding: 48px 30px;
          width: calc(25% - 10px);
        span {
          font-size: 60px;
          line-height: 60px;
        }
      }
    }

}

.help {
  &__inner {
    padding: 40px 0;
    &-main {
      display: flex;
      justify-content: space-between;
    }
  }
  &Item {
    width: calc(33.3% - 15px);
    max-width: 456px;
    text-align: center;
    &__image {
      width: 240px;
      height: 240px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  h2 {
    margin-bottom: 64px;
  }
  h3 {
    margin-bottom: 16px;
    font-weight: 600;
  }
  p {
    max-width: 425px;
    margin: 0 auto;
    span {
      color: $primary;
      font-weight: 700;
    }
  }
}
.service {
  &__inner {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-image {
      width: calc(50% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        max-width: 528px;
        object-fit: contain;
      }
    }
    &-content {
      width: calc(50% - 15px);
      &-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: -12px;
      }
    }
  }

  &Item {
    width: calc(50% - 24px);
    background: $primary;
    background-image: linear-gradient(140deg, #2072ff, #0451e5);
    box-shadow: 0px 30px 40px 0px rgb(3 24 128 / 20%);
    padding: 40px;
    margin: 12px;
    max-width: 320px;
    &__image {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h3 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
  h2 {
    margin-bottom: 24px;
  }
  h3 {
    margin-bottom: 12px;
  }
}
