.footer {
  &__inner {
    padding: 24px 0 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      background: $gray;
      width: 100%;
      height: 5px;
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-copy {
      display: flex;
      align-items: center;
      width: 75%;
      a {
        cursor: url("../images/new-tab.png") 8 8, pointer;
      }
    }

    &-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 25%;

      a {
        margin-right: 15px;

        &:last-child {
          margin: 0;
        }
      }
    }

    p {
      font-size: 14px;
      margin-right: 5px;
    }

    a {
      font-size: 14px;
      line-height: 16px;
      color: $main;
      display: flex;
      align-items: center;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $primary;
        transition: .3s ease;
        left: 0;
        top: 100%;
        opacity: 0;
      }
      &:hover {
        opacity: 1;
        color: $primary;
        &::before {
          opacity: 1;
        }
      }
    }

    hr {
      margin: 0 8px;
      width: 1px;
      height: 18px;
      background: $main;
    }
  }
}

// 1024px
@mixin footer-lg-xlg {
  .footer {
    &__inner {
      padding: 20px 0 40px;

      &::before {
        height: 4px;
      }

      p {
        font-size: 13px;
        line-height: 15px;
      }

      a {
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}

// 750px
@mixin footer-sm-md {
  .footer {
    &__inner {
      padding: 15px 0 30px;
      flex-direction: column;
      align-items: center;

      &-copy {
        width: 100%;
        justify-content: center;
      }

      &-links {
        width: 100%;
        margin-bottom: 10px;
        justify-content: center;
        order: -1;

        a {
          margin-right: 10px;
        }
      }

      &::before {
        height: 3px;
      }
    }
  }
}

// 540px
@mixin footer-xsm-sm {
  .footer {
    &__inner {
      padding: 15px 0 20px;

      &-links {
        margin-bottom: 6px;
      }

      &-copy {
        flex-wrap: wrap;
      }

      p {
        width: 100%;
        order: 2;
        text-align: center;
        margin: 5px 0 0 0;
        font-size: 13px;
        line-height: 15px;

        span {
          display: none;
        }
      }

      hr {
        height: 15px;
        margin: 0 5px;
      }

      a {
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}

// 440px
@mixin footer-xxsm-xsm {
  .footer {
    &__inner {
      &-links {
        a {
          margin-right: 6px;
        }
      }

      p {
        font-size: 11px;
        line-height: 13px;
      }

      hr {
        height: 13px;
        margin: 0 5px;
      }

      a {
        font-size: 11px;
        line-height: 13px;
      }

    }
  }
}