// 1450px
@include xxxxlg-xxxxxlg {
    h1 {
        font-size: 44px;
        line-height: 54px;
    }

    h2 {
        font-size: 35px;
        line-height: 45px;
    }

}

// 1380px
@include xxxlg-xxxxlg {
    @include look-xxxlg-xxxxlg;
    @include service-xxxlg-xxxxlg;
}

// 1250px
@include xlg-xxlg-extra {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h2 {
        font-size: 33px;
        line-height: 40px;
    }
    h3 {
        font-size: 18px;
        line-height: 24px;
    }
    p {
        &.sm {
            font-size: 15px;
            line-height: 22px;
        }
    }

    .support {
        &__text {
            input {
                padding: 7px 25px 7px 11px;
                font-size: 14px;
                line-height: 14px;
            }

            button {
                padding: 7px 18px;
                font-size: 14px;
            }
        }
    }
}

// 1180px
@include xlg-xxlg {
    .auto__container {
        padding: 0 30px;
    }

    h1 {
        font-size: 36px;
        line-height: 46px;
    }

    h2 {
        font-size: 29px;
        line-height: 37px;
        &:after {
            width: 22px;
            height: 3px;
        }
    }
    h3 {
        font-size: 16px;
        line-height: 20px;
    }
    p {
        &.big {
            font-size: 16px;
            line-height: 22px;
        }
    }

    @include hero-xlg-xxlg;
    @include sponsors-xlg-xxlg;
    @include service-xlg-xxlg;
    @include look-xlg-xxlg;
    @include info-xlg-xxlg;
}

// 1024px
@include lg-xlg {
    ::-webkit-scrollbar {
        display: none;
    }

    h1 {
        font-size: 32px;
        line-height: 42px;
    }

    main {
        padding-top: 80px;
    }

    @include nav-lg-xlg;
    @include header-lg-xlg;
    @include hero-lg-xlg;
    @include sponsors-lg-xlg;
    @include service-lg-xlg;
    @include footer-lg-xlg;
}

// 930px
@include md-lg {
    h1 {
        font-size: 28px;
        line-height: 34px;
    }
    h2 {
        font-size: 26px;
        line-height: 32px;
    }
    @include hero-md-lg;
    @include sponsors-md-lg;
    @include service-md-lg;
    @include help-md-lg;
    @include look-md-lg;
    @include info-md-lg;
}

// 750px
@include sm-md {
    .auto__container {
        padding: 0 20px;
    }
    @include service-sm-md;
    @include look-sm-md;
    @include footer-sm-md;
}

// 650px
@include sm-md-extra {
    @include header-sm-md-extra;
}

// 540px
@include xsm-sm {
    @include hero-xsm-sm;
    @include service-xsm-sm;
    @include help-xsm-sm;
    @include look-xsm-sm;
    @include info-xsm-sm;
    @include footer-xsm-sm;
}

// 440px
@include xxsm-xsm {
    main {
        padding-top: 70px;
    }

    @include hero-xxsm-xsm;
    @include sponsors-xxsm-xsm;
    @include info-xxsm-xsm;
    @include footer-xxsm-xsm;

}

// 390px
@include xxxsm-xxsm {
    .auto__container {
        padding: 0 15px;
    }

    @include header-xxxsm-xxsm;
}